body{
    font-family: Arial;
}

.c80{
    width: 80%;
    margin: auto;
}

.container{
    margin: 50px auto;
    padding: 10px 0 20px;
    text-align: center;
    width: 75%;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #E0F0FF;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.div-zoom{
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 24px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.img-zoom:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.img-zoom{
    height: 270px;
    transition: 0.5s;
}

.chu-goc-trai {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 1px 2px 2px #000000;
    position: absolute;
    top: 16px;
    left: 32px;
    color: white;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
    font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
}

.active > div { display:none; }
.active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		     { left: -50%; }
    .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		     { left: -50%; }
    .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .active.right { left: 33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev		     { left: -33%; }
    .carousel-col                { width: 33%; }
    .active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
    .carousel-inner .active.left { left: -25%; }
    .carousel-inner .active.right{ left:  25%; }
    .carousel-inner .next        { left:  25%; }
    .carousel-inner .prev		     { left: -25%; }
    .carousel-col                { width: 25%; }
    .active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
    .active > div:first-child + div + div + div { display:block; }
}

.img-loaiks {
    height: 180px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}

.header-right {
    margin-right: 20px;
}

.form-dang-nhap {
    width: 90%; margin: auto; text-align: left;
}

.form-dang-nhap > *{
    margin-top: 8px;
}

.form-dang-nhap > *:first-child{
    margin-top: 5px;
}